<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template.html}">

<head>
    <title>Formulario de filmes</title>
</head>

<body>

    <div layout:fragment="conteudo">
        <h1>
            Cadastro de Filme
        </h1>

        <form method="post" action="/filmes">

            <input type="hidden" name="_method" value="put" th:if="${filme != null}" >
            <input type="hidden" name="id" th:value="${filme?.id}">

            <div>
                <label for="nome">Nome:</label>
                <input th:value="${filme?.nome}" id="nome" name="nome">
            </div>


            <div>
                <label for="duracao">Duração (em minutos):</label>
                <input th:value="${filme?.duracaoEmMinutos}" id="duracao" name="duracao">

            </div>



            <div>
                <label for="ano">Ano de lançamento:</label>
                <input th:value="${filme?.anoLancamento}" id="ano" name="ano">
            </div>



            <div>
                <label for="genero">Gênero:</label>
                <input th:value="${filme?.genero}" id="genero" name="genero">
            </div>



            <div>
                <input type="submit" value="Salvar">

            </div>

        </form>
    </div>
</body>

</html>